<h1>Edit Conversation Notes</h1>
<!-- `render` seems to be a lot like `yield`. This will include the _form partial (note the _) -->
<%= render 'form' %>

<%= link_to 'View This Conversation', @call %><br>
<%= link_to 'View All', calls_path %>