<h1>Here you can add new conversation notes after making or recieving a call from a family member</h1>
<!-- `render` seems to be a lot like `yield`. This will include the _form partial (note the _) -->
<%= render "form" %>

<%= link_to 'View All', calls_path %>